<div class="cart-info">
    <div class="wrapper">
        <div class="row">
            <div class="col-xs-12 cart-product-title">
                <h2>My Cart (1 item)</h2>
            </div>
            <div class="col-xs-4 col-sm-2 cart-product-image">
                    <img src="static/images/products/fruit-n-veg/apple.jpg" alt="" class="width-100">
            </div>
            <div class="col-xs-6 col-sm-8 cart-product-details">
                <h3>Apple-Washington, Regular, 4pcs</h3>
                <div class="item-count d-flex">
                    <button class="plus-btn" type="button" name="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg>
                    </button>
                    <input type="text" name="name" value="1">
                    <button class="minus-btn" type="button" name="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-12v-2h12v2z"/></svg>
                    </button>
                    <div class="product-price">
                        <span>Rs.187</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 total-price">
                <span>Rs.187</span>
            </div>
        </div>
        <div class="row price-guarantee">
            <div class="col-xs-5 col-sm-4 col-md-2 price-guarantee-img">
                <img src="static/images/lowest-price.png" alt="">
            </div>
            <div class="col-xs-7 col-sm-8 col-md-10 price-guarantee-desc">
                <p>You won't find it cheaper anywhere.</p>
            </div>
        </div>
        <div class="row cart-checkout">
            <p class="width-100">Promocode can be applied on payment page</p>
            <button class="button-large"><span>Proceed to Checkout</span><span>Rs.187 ></span></button>
        </div>
    </div>
</div>