<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="/css/responsive.css">
      <link rel="stylesheet" href="/css/flexboxgrid.css">
      <link rel="stylesheet" href="/css/jquery.bxslider.css">
      <link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,700" rel="stylesheet">
      <title>Training Exercise</title>
  </head>
  <body>
    {{>header}}
    {{{body}}}
    {{>footer}}
    <script src="/js/bundle.js"></script>
  </body>
</html>
